<section class="content-header">
    <h1>
        优惠券管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">优惠券管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:U('Admin/Admin/add/addon/Coupon')}" class="btn btn-danger ">
                                新增优惠券
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <!--<th class="hidden-xs">-->
                                    <!--<label><input onchange="checkAll()" type="checkbox" value=""></label>-->
                                <!--</th>-->
                                <th>ID</th>
                                <th>优惠券名称</th>
                                <th>金额</th>
                                <th>数量</th>
                                <th>截止时间</th>
                                <th>操作</th>
                            </tr>
                            <volist name="couponList" id="coupon">
                                <tr>
                                    <!--<td class="hidden-xs">-->
                                        <!--<label><input name="checkbox" class="check" type="checkbox"-->
                                                      <!--value="{$coupon.id}"></label>-->
                                    <!--</td>-->
                                    <td>
                                        {$coupon.id}
                                    </td>
                                    <td>
                                        {$coupon.name}
                                    </td>
                                    <td>
                                        {$coupon.price}
                                    </td>
                                    <td>
                                        {$coupon.num}
                                    </td>
                                    <td>
                                        {:date('Y-m-d H:i:s',$coupon['last_time'])}
                                    </td>
                                    <td class="table-action"><a
                                            href="{:U('Admin/coupon/modifycoupon',array('id'=>$coupon['id']))}">导出</a><a
                                            href="{:U('Admin/Admin/detail/addon/Coupon',array('id'=>$coupon['id']))}">优惠券列表</a><a
                                            href="{:u_addons(\'Coupon://Admin/Admin/del\',array('id'=>$coupon['id']))}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="btn btn-danger"-->
                                            <!--onclick="batchUrl('{:U(\'Admin/coupon/delcoupon\')}')">全部删除-->
                                    <!--</button>-->
                                <!--</div>-->
                                <div class="pull-right" style="margin-bottom: 6px">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>