<section class="content-header">
    <h1>
        商城管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">反馈管理</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--<div class="mailbox-controls">-->
                        <!--<div class="btn-group">-->
                            <!--<a href="{:U('Home/Shop/exportFeedback')}" target="_blank" class="btn btn-danger ">-->
                                <!--导出全部反馈-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.btn-group &ndash;&gt;-->
                    <!--</div>-->
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>用户ID</th>
                                <th>反馈</th>
                                <th>时间</th>
                            </tr>
                            <volist name="feedback" id="feedback">
                                <tr>
                                    <td class="hidden-xs">
                                        <label><input name="checkbox" class="check" type="checkbox"
                                                      value="{$feedback.id}"></label>
                                    </td>
                                    <td>
                                        {$feedback.user_id}
                                    </td>
                                    <td>
                                        {$feedback.value}
                                    </td>
                                    <td>
                                        {$feedback.time}
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group" style="height: 45px">
                                </div>
                                <!-- /.btn-group -->
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>