<section class="content-header">
    <h1>
        商城管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">店铺管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:U('Home/Shop/addShop')}" class="btn btn-danger ">
                                新增店铺
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th>名称</th>
                                <th>图片</th>
                                <th>链接</th>
                                <th>状态</th>
                                <th>排序</th>
                                <th>备注</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            <volist name="shopList" id="shop">
                                <tr>
                                    <td>
                                        {$shop.name}
                                    </td>
                                    <td>
                                        <if condition="$shop.savepath && $shop.savename">
                                            <img style="height: 48px;max-width: 72px"
                                                 src="__PUBLIC__/Uploads/{$shop.savepath}{$shop.savename}">
                                        </if>
                                    </td>
                                    <td>
                                        <div class="btn-group" style="margin: 0px">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                链接<span class="caret"></span></button>
                                            <div class="dropdown-menu" style="padding: 10px;max-width: none;">
                                                {$url}{:U('App/Index/index' , array('shopId'=>$shop['id']))}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <if condition="$shop.status eq -1"><span style="color: red">已关闭</span></if>
                                        <if condition="$shop.status eq 0"><span style="color: red">未审核</span></if>
                                        <if condition="$shop.status eq 1"><span style="color: blue">休息中</span></if>
                                        <if condition="$shop.status eq 2">营业中</if>
                                    </td>
                                    <td>
                                        {$shop.rank}
                                    </td>
                                    <td>
                                        {$shop.remark}
                                    </td>
                                    <td>
                                        {$shop.time}
                                    </td>
                                    <td class="table-action"><a target="_parent"
                                                                href="{:U('Home/Shop/switchShop',array('id'=>$shop['id']))}">选择</a><a
                                            href="{:U('Home/Shop/delShop',array('id'=>$shop['id']))}">删除</a></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group" style="height: 45px">

                                </div>
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>