<section class="content-header">
    <h1>
        用户管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">用户管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--<div class="mailbox-controls">-->
                    <!--    <div class="btn-group">-->
                    <!--        <a href="" class="btn btn-danger ">-->
                    <!--            导出全部用户-->
                    <!--        </a>-->
                    <!--    </div>-->
                        <!-- /.btn-group -->
                    <!--</div>-->
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <!--<th class="hidden-xs">-->
                                <!--    <label><input onchange="checkAll()" type="checkbox" value=""></label>-->
                                <!--</th>-->
                                <th>用户名</th>
                                <th>头像</th>
                                <th>账户</th>
                                <th>积分</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>时间</th>
                                <!--<th>操作</th>-->
                            </tr>
                            <volist name="userList" id="user">
                                <tr>
                                    <!--<td class="hidden-xs">-->
                                    <!--    <label><input name="checkbox" class="check" type="checkbox" value="{$user.id}"></label>-->
                                    <!--</td>-->
                                    <td>{$user.username}</td>
                                    <td>
                                        <if condition="$user.avater neq ''">
                                            <img src="{$user.avater}" style="width: 48px;height: 48px">
                                        </if>
                                    </td>
                                    <td>{$user.money}</td>
                                    <td>{$user.score}</td>
                                    <td>
                                        <if condition="$user.status eq 1">启用</if>
                                        <if condition="$user.status eq 0"><span style="color: red">禁用</span></if>
                                    </td>
                                    <td>{$user.remark}</td>
                                    <td>{$user.time}</td>
                                    <!--<td class="table-action"><a-->
                                    <!--        href="{:U('Home/User/modUser',array('id'=>$user['id']))}">修改</a>-->
                                    <!--    <gt name="user.id" value="1">-->
                                    <!--        <a href="{:U('Home/User/delUser',array('id'=>$user['id']))}">删除</a>-->
                                    <!--    </gt>-->
                                    <!--</td>-->
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!--<div class="btn-group">-->
                                <!--    <button type="button" class="btn btn-danger"-->
                                <!--            onclick="batchUrl('{:U(\'Home/User/delUser\')}')">全部删除-->
                                <!--    </button>-->
                                <!--</div>-->
                                <!-- /.btn-group -->
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>