<div id="dialog-imageUploader">
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row" style="border-bottom:1px solid #f4f4f4;">
            <div class="margin pull-right">
                <form action="{:U('Admin/File/uploadImage')}" id="myForm" method="post">
                    <div class="btn btn-success" style="cursor: pointer">本地上传</div>
                    <input type="file" id="file" name="file[]" multiple="multiple" onchange="ajaxForm()"
                           style="margin-top: -30px;width: 82px;height: 34px;opacity: 0;cursor: pointer;"/>
                </form>
            </div>
        </div>
        <div class="row" id="dialog-content">
            <volist name="file" id="file">
                <div class="margin" style="width: 120px;height: 120px;float: left;">
                    <img class="img-thumbnail" style="width: 120px; height: 120px;"
                         onclick="selectImage(this,'{$file.id}')"
                         src="__PUBLIC__/Uploads/{$file.savepath}{$file.savename}">

                    <div class="cover" onclick="cancelSelectImage(this,'{$file.id}')"></div>
                </div>
            </volist>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        {$page}
    </div>
</div>
<script type="text/javascript">
    $('#dialog-imageUploader .pagination a[href]').attr('onclick', 'tabPage(this)');
</script>