<section class="content-header">
    <h1>
        商城管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">菜单管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
<!--                     <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:U('Admin/Shop/addMenu')}" class="btn btn-danger ">
                                新增菜单
                            </a>
                        </div>
                    </div> -->
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>ID</th>
                                <th>店铺ID</th>
                                <th>PID(上级)</th>
                                <th>菜单名称</th>
                                <th>图片</th>
                                <th>排序</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>

                            <volist name="menu" id="menu">
                                <tr>
                                    <td class="hidden-xs">
                                        <label><input name="checkbox" class="check" type="checkbox" value="{$menu.id}"></label>
                                    </td>
                                    <td>{$menu.id}</td>
                                    <td>{$menu.shop_id}</td>
                                    <td>{$menu.pid}</td>
                                    <td>{$menu.name}</td>
                                    <td>
                                        <div class="btn-group" style="margin: 0px;">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                图片<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <img style="height: 200px"
                                                         src="__PUBLIC__/Uploads/{$menu.savepath}{$menu.savename}">
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{$menu.rank}</td>
                                    <td>{$menu.remark}</td>
                                    <td class="table-action"><a
                                            href="{:U('Admin/Shop/modMenu',array('id'=>$menu['id']))}">修改</a><a
                                            href="{:U('Admin/Shop/delMenu',array('id'=>$menu['id']))}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger "
                                            onclick="batchUrl('{:U(\'Admin/Shop/delMenu\')}')">全部删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>