<section class="content-header">
    <h1>
        用户管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">用户组管理</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:U('Admin/User/addAuthGroup')}" class="btn btn-danger ">
                                新增用户组
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>用户组</th>
                                <th>状态</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            <volist name="authGroupList" id="group">
                                <tr>
                                    <td>{$group.id}</td>
                                    <td>{$group.title}</td>
                                    <td>
                                        <eq name="group.status" value="1">启用
                                            <else/>
                                            禁用
                                        </eq>
                                    </td>
                                    <td>{$group.time}</td>
                                    <td class="table-action">
                                        <gt name="group.id" value="1">
                                            <a href="{:U('Admin/User/modAuthGroup',array('id'=>$group['id']))}">修改</a><a
                                                href="{:U('Admin/User/delAuthGroup',array('id'=>$group['id']))}">删除</a>
                                        </gt>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>